@font-face {
	font-family: 'Verdana';
	src: url('../fonts/verdana.eot');
	src: local('☺'), url('../fonts/verdana.woff') format('woff'), url('../fonts/verdana.ttf') format('truetype'), url('../fonts/verdana.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container {
    max-width: 100%;
    height: 100vh;
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header-container {
    max-width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-text {
    display: flex;
    align-items: center;
}

.link-title,
.link-text {
    text-decoration: none;
    color: #ffffff;
}

.link-title {
    font-weight: 700;
    font-size: 22px;
    transition: all 0.8s;
}

.link-text {
    padding-right: 3px;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.8s;
}

.icon {
    color: #ffffff;
    transition: all 0.8s;
}

.link-icon {
    padding-right: 25px;
    text-decoration: none;
}

.header-text {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    padding-right: 3px;
}

.link-title:hover {
    color: #3CB878;
}

.link-text:hover {
    color: #3CB878;
}

.icon-container:hover .icon {
    fill: #3CB878;
}

.main-container {
    position: relative;
    flex-grow: 1;
}

.login-form {
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.green-block {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin: 30px 60px 0px;
}

.sign-up {
    font-size: 20px;
    color: #434343;
}

.log-in-link {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
    transition: all 0.8s;
}

.log-in-link:hover {
    color: #01813F;
}

.log-in-link::before {
    content: "";
    background-color: #01813F;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.8s;
}

.log-in-link:hover::before {
    opacity: 1;
}

.bottons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 60px 30px;
}

.logo-bottons {
    margin-left: 15px;
}

.facebook-botton {
    margin-right: 22px;
}

.google-botton {
    margin-right: 27px;
}

.link-bottons {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
}

.facebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    transition: all 0.8s;
}
.facebook:hover {
    background: #022263
}

.google {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    transition: all 0.8s;
}

.google:hover {
    background: #AB1F09;
}

.or {
    text-align: center;
    margin: 0px 60px 12px;
    font-weight: 400;
    font-size: 14px;
    color: #848484;
    position: relative;
}

.or::before {
    content: "";
    display: block;
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    position: absolute;
    top: 7px;
    left: 0;
}

.or::after {
    content: "";
    display: block;
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    position: absolute;
    top: 7px;
    right: 0;
}

.input {
    width: 324px;
    height: 44px;
    margin: 0px 60px 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #434343;
    padding-left: 20px;
    box-sizing: border-box;
}

.input::placeholder {
    color: #bebebe;
}
.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: none;
}

.checkbox {
    margin-left: 60px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #434343;
}

.block-checkbox {
    transition: all 0.8s;
}
.checkbox[type="checkbox"]:checked, 
.checkbox[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

.checkbox[type="checkbox"]:checked + label, 
.checkbox[type="checkbox"]:not(:checked) + label
{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.checkbox[type="checkbox"]:checked + label:before, 
.checkbox[type="checkbox"]:not(:checked) + label:before
{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 8px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

label {
    margin-left: 60px;
    margin-bottom: 15px;
}

.checkbox[type="checkbox"]:checked + label:after, 
.checkbox[type="checkbox"]:not(:checked) + label::after
{
    content: "";
    position: absolute;
    transition: all 0.8s ease;
}

.checkbox[type="checkbox"]:checked + label:after, 
.checkbox[type="checkbox"]:not(:checked) + label:after {
    left: 2px;
    top: 3px;
    width: 16px;
    height: 9px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-45deg);
}

.checkbox[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

.checkbox[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checkbox[type="checkbox"]:hover:checked + label:after, 
.checkbox[type="checkbox"]:hover:not(:checked) + label:after {
    left: 2px;
    top: 3px;
    width: 16px;
    height: 9px;
    border-left: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
    transform: rotate(-45deg);
}

.link-checkbox {
    font-family: 'Verdana';
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    display: inline-block;
    position: relative;
    transition: all 0.8s;
}

.link-checkbox::before {
    content: "";
    background-color: #01813F;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.8s;
}

.block-checkbox:hover .link-checkbox::before {
    opacity: 1;
}

.block-checkbox:hover .link-checkbox{
    color: #01813F;
}

.block-checkbox:hover {
    border-left: #01813F;
    border-bottom: #01813F;
}

.submit {
    width: 324px;
    height: 46px;
    margin: 0px 60px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    transition: all 0.8s;
}

.submit:hover {
    background: #01813F;
}